.example-card {
    margin: 10px;
    max-width: 300px;
    max-height: 600px;
    min-width: 200px;
    min-height: 400px;
}

.card-title {
    height: 50px;
}
  
.card-image {
    background-size: cover;
    
    
}